## Arithmetic Operators

- +
- -
- *
- /
- %
- //
- **

In [5]:
a = 10
b = 15
print(a+b,a-b,a*b,a/b,a//b,a%b,a**b)

25 -5 150 0.6666666666666666 0 10 1000000000000000

In [8]:
6/3
6//3
7%3

1

In [9]:
6.5//3

2.0

In [10]:
6.5/3

2.1666666666666665

## Assignment Operators

- =  += -= /= *= %= **= //=

In [16]:
x = 12
y = 15

x += 4
print(x)

y -= 3
print(y)

x *= y
print(x)

x //= y
print(x)

16
12
192
16

## Comparison Operators

In [18]:
p = 30
q = 40

print(p<q, p>q, p<=q, p>=q, p==q, p!=q)

True False True False False True

## Logical Operators

In [22]:
l = 55
m = 66

print(l<m and l!=m)
print(l<10 and l<60)
print(not l>m)

True
False
True

# Bitwise Operators

In [27]:
33333333333&12123132

9455956

In [30]:
bin(123)

'0b1111011'

In [28]:
2|5

7

# Identity Operators

In [33]:
x = 10
y = x
z = y

print(x is z)

True

# Membership Operators

In [40]:
'pd' not in "apssdc"

True

## Datatypes & Data Structures

In [41]:
a = 10
b = [100,2.3,"python"]

In [42]:
print(b)

[100, 2.3, 'python']

## Conditional Statements

In [43]:
if 5%2==0:
    print("Even")
else:
    print("Odd")

Odd

In [2]:
n = int(input("Enter a number: "))
if n<0:
    print("Invalid Input")
elif n%2!=1:
    print("Even number")
else:
    print("Odd number")

Enter a number: 13
Odd number

## Type Conversions

In [13]:
a = 100.235
int(a)

100