# Date : 11- 08 - 2020

## Day Objectives:

- Tuples
- Sets

In [1]:
t1 = (1,2.3,"india")

In [2]:
print(t1)

(1, 2.3, 'india')

In [4]:
t1[1]
t1[2]

'india'

In [5]:
t2 = (19,["orange","grapes","apple"],(3,2,5))

In [14]:
t2[2][2]

5

In [20]:
lt2 = list(t2)
lt2.append(100)

In [22]:
t2 = tuple(lt2)

In [23]:
t2

(19, ['orange', 'grapes', 'apple'], (3, 2, 5), 100)

## Tuple Methods

In [24]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [32]:
t3 = (1,2,3,4,5,1,1,1)
t3.index(4)
t3.count(1)
min(t3)
max(t3)
sum(t3)
len(t3)

8

In [35]:
li = [1,2,3,4,5]
t4 = tuple(li)
t4

(1, 2, 3, 4, 5)

In [42]:
## Tuple unpacking
t = (1,2,3,4)
a,b,c,d = t
a
d
for i in t:
    print(i)

1
2
3
4

## Sets

In [44]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

In [69]:
# Union Operations
print("Union Operation: ",s1 | s2)
print(s2.union(s1))

# Intersection Operation
print("Intersection Operation: ",s1 & s2)
print(s1.intersection(s2))

# Difference Operation
print("Difference: ",s1 - s2)
print(s1.difference(s2))

# Symmetri Difference
print("Symmetric Difference: ",s1 ^ s2)
print(s1.symmetric_difference(s2))

Union Operation:  {1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
Intersection Operation:  {3, 4, 5}
{3, 4, 5}
Difference:  {1, 2}
{1, 2}
Symmetric Difference:  {1, 2, 6, 7}
{1, 2, 6, 7}

In [58]:
# Membership Operations

8 not in s2
5 in s1

True

In [60]:
for i in s1:
    print(i, end = " ")

1 2 3 4 5

In [61]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [77]:
## Adding Elements to a set : add() & update()

a = {4,5,6,7}
a.add(4) # add() - this method is used to add onluy single element.
print(a)
a.update([6,7,8,9]) # update() - for adding list or tuple or any set elements
print(a)

{4, 5, 6, 7}
{4, 5, 6, 7, 8, 9}

In [73]:
b = {11,1,11,1,2,3}
b

{1, 2, 3, 11}

## How can we remove set elements ?

- remove() - used to delete a single element
- discard() - used to delete a single element
- pop() - this method will delete a random element
- clear() - this mehod will be used to delete all the set elements
- del - used to delete entire set

In [78]:
branch = {"cse","ece","it","mech","eee","civil"}

In [79]:
branch.remove("eee")

In [80]:
branch

{'civil', 'cse', 'ece', 'it', 'mech'}

In [81]:
branch.discard("it")

In [82]:
branch

{'civil', 'cse', 'ece', 'mech'}

In [85]:
branch.discard("eee")

In [86]:
branch

{'civil', 'cse', 'ece', 'mech'}

In [87]:
branch.pop() # deleted the second element.

'cse'

In [93]:
a = {1,2,3}
b = {4,5,6}

In [94]:
## Difference b/w clear() & del
a.clear()
del b

In [95]:
print(a)
print(b)

set()

NameError: name 'b' is not defined

In [96]:
fruits = {"banana","papaya","cherri","kiwi"}

In [97]:
s1 = fruits.copy() # used to copy the elements from one set to another set.

In [98]:
s1

{'banana', 'cherri', 'kiwi', 'papaya'}

In [107]:
u = {55,34,66,33,77}
v = {18,19,66,27,55}

In [112]:
u.difference(v)
u.difference_update(v)

{33, 34, 77}

In [114]:
s = {1,2,3,4,5}
g = {4,5,6,7,8}

s.intersection_update(g)

In [115]:
s

{4, 5}

In [116]:
s = {1,2,3,4,5}
g = {4,5,6,7,8}

g.symmetric_difference_update(s)

In [118]:
g

{1, 2, 3, 6, 7, 8}

In [121]:
s = {1,2,3,4,5}
g = {6,7,8}

s.isdisjoint(g)

True

In [126]:
s = {1,2,3,4,5,6,7,8,9}
g = {4,5,6}

In [128]:
g.issubset(s)
s.issuperset(g)

True